.home {
    padding-top: 50px;
}

.home .typeahead {
    height: 70px;
    font-size: 32px;
}

.twitter-typeahead {
    display: block !important;
}

.tt-dropdown-menu {
    width: 100%;
    background-color: #FFFFFF;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5px 0px #d0d0d0;
    -moz-box-shadow:    0px 2px 5px 0px #d0d0d0;
    box-shadow:         0px 2px 5px 0px #d0d0d0;
}

.tt-suggestion {
    margin-bottom: 15px;
}

.tt-suggestion h3 {
    margin: 0;
    line-height: 36px;
}

.tt-suggestion p {
    font-size: 16px;
    line-height: 20px;
}