html, body {
    height: 100%;
    color: #464646;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -280px;
}

#push {
    height: 280px;
}

#footer {
    height: 280px;
    padding: 40px 0;
    background-color: #f5f5f5;
}

body {
    background-color: #F7F7F7;
}

#header, #footer {
    background-color: #FCFCFC;
}

#header {
    -webkit-box-shadow: 0px 1px 5px 0px #d0d0d0;
    -moz-box-shadow: 0px 1px 5px 0px #d0d0d0;
    box-shadow: 0px 1px 5px 0px #d0d0d0;
}

#header .title {
    float: left;
    line-height: 40px;
    margin: 5px 0;
  }

#header .navigation {
    float: left;
}
#header .navigation .navigation-item {
    text-align: center;
    line-height: 20px;
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 0 10px;
    /*border-bottom: 5px solid #a80000;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#header .navigation .navigation-item:hover {
    opacity: 1;
    color: #a80000;
    text-decoration: none;
}

#header .navigation .navigation-item i {
    line-height: 55px;
    display: block;
    font-size: 25px;
    text-align: center;
}

#header .navigation .navigation-item span {
    line-height: 20px;
}

#header .header-login {
    margin: 10px 0;
}

#header .header-login .input-group {
    margin: 0 0 5px 0;
}

#header .header-login .input-group i {
    width: 12px;
    text-align: center;
}

#footer {
    -webkit-box-shadow: 0px -1px 5px 0px #d0d0d0;
    -moz-box-shadow:    0px -1px 5px 0px #d0d0d0;
    box-shadow:         0px -1px 5px 0px #d0d0d0;
}

#footer ul.list-inline {
    text-align: center;
}

#footer .arjuna-logo {
    height: 75px;
    margin: 10px 20px 0 0;
 }

#footer .di-logo {
    height: 75px;
    margin: 10px 20px 0 0;
}

#footer .redhat-logo {
    height: 75px;
    margin: 10px 20px 0 0;
}

#footer .innovate-logo {
    height: 75px;
    margin: 10px 20px 0 0;
}

#content {
    padding: 20px 0;
}

.sidebar-menu {
    border-right: 1px solid #EEEEEE;
}

.sidebar-menu ul.list-unstyled {
    margin-left: 20px;
}

.sidebar-menu a{
    color:inherit;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar-menu .active a, .sidebar-menu a:hover{
    color:#a80000;
    text-decoration: none;
}

.databroker-list .empty-list {
    text-align: center;
    width: 70%;
    margin: 25px auto;
    color: #999999;
}

.databroker-list .databroker-count {
    display: inline-block;
    vertical-align: middle;
    margin-top: -14px;
}

.databroker-list .databroker-connection .databroker-actions {
    margin-bottom: 0;
}

.databroker-list .databroker-connection .databroker-actions li{
    padding-right: 10px;
}

.databroker-list .databroker-connection .databroker-actions li i {
    padding-right: 5px;
}