<div class="container">
  <hr />
  <ul class="list-inline">
    <li>
      <img src="core/assets/img/innovate-logo.jpg" alt="innovate-logo" class="innovate-logo"/>
    </li>
    <li>
      <img src="core/assets/img/arjuna-logo.png" alt="arjuna-logo" class="arjuna-logo"/>
    </li>
    <li>
      <img src="core/assets/img/di-logo.png" alt="di-logo" class="di-logo"/>
    </li>
    <li>
      <img src="core/assets/img/redhat-logo.png" alt="redhat-logo" class="redhat-logo"/>
    </li>
  </ul>
</div>

