<div class="container">
  <div class="row">
      <div class="col-md-2">
          <img style="margin-top: 10px;" src="assets/images/NEDE-logo.png" alt="Logo"/>
      </div>
        <div class="col-md-5">
          <h1 class="title" style="margin-top: 25px;">Data Directory Portal</h1>
        </div>
    <div class="col-md-5">
      <ul class="list-inline navigation pull-right">
        <li>
          <a class="navigation-item h4" ui-sref="home">
            <i class="fa fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a class="navigation-item h4" ui-sref="listings">
            <i class="fa fa-search"></i>
            <span>Search</span>
          </a>
        </li>
        <li ng-show="isAuthorized(['users'])">
          <a class="navigation-item h4" ui-sref="users">
            <i class="fa fa-user"></i>
            <span>Users</span>
          </a>
        </li>
          <li ng-show="!loggedin()" ng-click="login()">
              <a class="navigation-item h4" href="#">
                  <i class="fa fa-sign-in"></i>
                  <span>Log In</span>
              </a>
          </li>
          <li ng-show="loggedin()" ng-click="logout()">
              <a class="navigation-item h4" href="#">
                  <i class="fa fa-sign-out"></i>
                  <span>Log Out</span>
              </a>
          </li>
      </ul>
    </div>
  </div>
</div>

