<section class="licence-wizard">
  <div class="well" ng-show="$state.current.name === 'create.templates'">
    <h1>New Publication Agreement Templates</h1>
    Choose an appropriate agreement template for the data you wish to publish
  </div>
  <div class="well" ng-show="$state.current.name === 'create.template'">
    <h1>New Publication Agreement Template</h1>
    Complete the form to create a new agreement. Please ensure all fields marked as * have been completed correctly.
  </div>
  <hr>
  <div ui-view=""></div>
</section>