<section class="licence" ng-init="getLicence()">
  <h1>My Current Publication Agreement</h1>
  <hr>
  <h2>{{originalLicence.name}} <span class="label label-default label-h2" ng-show="licenceState()">Status: {{licenceState()}}</span></h2>
  <form role="form" name="updateLicenceForm" ng-submit="updateLicence()">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group" role="group">
        <button type="button" ng-hide="editMode" ng-click="editMode = !editMode" class="btn btn-default">Edit</button>
        <button type="submit" ng-show="editMode" class="btn btn-default" ng-disabled="updateLicence.$invalid || updateLicence.$pristine">Save</button>
        <button type="button" ng-show="editMode" ng-click="editMode = !editMode" class="btn btn-default">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="deleteLicence()">Request Completion</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" ng-if="!editMode">
      <h3>Description</h3>
      <p>{{originalLicence.comment}}</p>
      <h3 ng-repeat-start="section in licence.sections">{{section.headertext}}</h3>
      <dl>
        <dt ng-repeat-start="field in section.fieldsdetails">{{field.label}}</dt>
        <dd ng-repeat-end>
          <span ng-if="field.type=='radio'" ng-repeat="option in field.optionvalues | filter: value == field.value">{{option.label}}</span>

          <ul ng-if="field.type==='checkbox'" class="list-unstyled">
            <li ng-repeat="option in field.value"><i ng-class="{'text-danger': option.value}"></i>{{option.label}}</li>
            <span ng-if="field.type !== 'checkbox'">{{field.value}}</span>
          </ul>
          <ul class="list-unstyled" ng-if="field.type === 'checkbox'">
            <li ng-repeat="option in field.value.split(',')"><i ng-class="{'text-danger': option.value}"></i>{{option}}</li>
          </ul>
          <span ng-if="field.type!=='checkbox' && field.type!=='radio'">{{field.value}}</span>
          <i ng-if="field.nrSignatures" class="fa fa-check-circle-o text-success" Popover-animation="true" popover-template="'popoverTemplate.html'" popover-title="Non-Repudiation Signatures" popover-placement="right" popover-trigger="click" ng-mouseenter="signatures = field.nrSignatures"></i>
        </dd>
      </dl>
      <hr ng-repeat-end>
    </div>
    <div ng-if="editMode">
      <fieldset class="col-md-7">
        <legend>Licence Name</legend>
        <div class="form-group">
          <label class="form-label">Licence Name <span class="required">{{field.required ? '*' : ''}}</span></label>
          <input class="form-control" type="text" name="licencename" ng-model="licence.name" required>
          <p class="help-block">The name of the new licence agreement</p>
        </div>
        <div class="form-group">
          <label class="form-label">Comments <span class="required">{{field.required ? '*' : ''}}</span></label>
          <textarea class="form-control" name="licencecomments" ng-model="licence.comment" required></textarea>
          <p class="help-block"></p>
        </div>
      </fieldset>
      <fieldset class="col-md-7" ng-repeat="section in licence.sections">
        <legend>{{section.headertext}}</legend>
        <div class="form-group" ng-repeat="field in section.fieldsdetails">
          <label ng-if="field.type != 'hidden'" class="form-label">{{field.label}} <span class="required">{{field.required ? '*' : ''}}</span></label>

          <!-- Render Checkbox -->
          <div class="checkbox" ng-if="field.type == 'checkbox'" ng-repeat="option in field.optionvalues">
            <label>
              <input ng-readonly="!field.mutable" value="{{option.value}}" ng-model="option.value" type="{{field.type}}">{{option.label}}
            </label>
          </div>

          <!-- Render Select List -->
          <select ng-readonly="!field.mutable" ng-if="field.type == 'select'" class="form-control" name="{{field.name}}" value="{{field.value}}" ng-model="field.value" ng-required="field.required">
            <option value="{{option.value}}" ng-repeat="option in field.optionvalues" ng-selected="option.value == 'true'">{{option.label}}</option>
          </select>

          <!-- Render Textarea -->
          <textarea ng-readonly="!field.mutable"  ng-if="field.type == 'textarea'" class="form-control" name="{{field.name}}" value="{{field.value}}" ng-model="field.value" ng-required="field.required"></textarea>

          <!-- Render Radio List -->
          <div ng-if="field.type == 'radio'" ng-repeat="option in field.optionvalues" class="radio">
            <label><input ng-readonly="!field.mutable" type="{{field.type}}" name="{{field.name}}" ng-model="field.value" value="{{option.value}}">{{option.label}}</label>
          </div>

          <!-- Render Range -->
          <input ng-readonly="!field.mutable" ng-if="field.type == 'range'" type="{{field.type}}" name="{{field.name}}" value="{{field.value}}" min="{{field.optionvalues[0].value}}" max="{{field.optionvalues[1].value}}" ng-model="field.value">

          <!-- Render Text, Number etc -->
          <input ng-readonly="!field.mutable" ng-if="field.type != 'select' && field.type != 'checkbox' && field.type != 'textarea' && field.type != 'radio' && field.type != 'range' && field.type != 'date'" class="form-control" type="{{field.type}}" name="{{field.name}}" value="{{field.value}}" ng-model="field.value" ng-required="field.required" ng-pattern="field.validations[0].regex">

          <!-- Render Date -->
          <input ng-if="field.type === 'date'" ng-init="addDatePicker()" class="inactive-date-picker form-control" type="text" name="{{field.name}}" value="{{field.value}}" datepicker-append-to-body="true" datepicker-popup=="yyyy/MM/dd" ng-model="field.value" ng-required="field.required" ng-pattern="field.validations[0].regex">

          <p class="help-block">{{field.purpose}}</p>
        </div>
      </fieldset>
      <hr class="col-md-7">
      <div class="col-md-7">
        <div class="alert alert-warning" ng-if="! isEndpointAvailable()">
          Data Upload is not available as no endpoint has been defined.
        </div>
      </div>
      <fieldset class="col-md-7" ng-if="isEndpointAvailable()">
        <legend>Data Upload</legend>
        <div class="btn btn-default" ng-file-select ng-file-change="upload($files)" ng-disabled="uploadInProgress">Add Data</div>
        <div class="alert alert-success" ng-if="uploadSuccess">
          File has been successfully uploaded.
        </div>
        <div class="alert alert-danger" ng-if="uploadFailed">
          File upload was unsuccessful, the server encountered an error.
        </div>
      </fieldset>
    </div>
  </div>
  </form>
</section>
<!-- Popover Template -->
<script type="text/ng-template" id="popoverTemplate.html">
  <tabset>
    <tab ng-repeat="signature in signatures" heading="{{signature.partyName}}">
      <dl>
        <dt>Signature</dt>
        <dd>{{signature.signature}}</dd>
        <dt>Encryption Type</dt>
        <dd>{{signature.encryptionType}}</dd>
        <dt>Public Key</dt>
        <dd>{{signature.publicKeyPem}}</dd>
      </dl>
    </tab>
  </tabset>
</script>


