<section class="licence" ng-init="getLicence()">
  <h2>{{licence.name}}</h2>
  <form role="form" class="col-md-6" ng-submit="updateLicence()">
    <div class="form-group">
      <label class="form-label">Licence Name</label>
      <input class="form-control" type="text" name="licencename" ng-model="licence.name" required>
      <p class="help-block">The name of the new licence agreement</p>
    </div>
    <div class="form-group">
      <label class="form-label">Comments</label>
      <textarea class="form-control" name="licencecomments" ng-model="licence.comment" required></textarea>
      <p class="help-block"></p>
    </div>
    <div class="form-group" ng-repeat="field in licence.fieldsdetails" ng-if="field.name != 'status'">
      <label class="form-label">{{field.label}}</label>
      <input class="form-control" type="{{field.type}}" name="{{field.name}}" value="{{field.value}}" ng-model="field.value">
      <p class="help-block">{{field.purpose}}</p>
    </div>
    <div class="form-group" class="col-md-6">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</section>


