<section class="new-licence" ng-init="getTemplate()">
  <form name="newLicence" role="form" class="col-md-6" ng-submit="createLicence()" autocomplete="off">
    <div class="form-group">
      <label class="form-label">Licence Name</label>
      <input class="form-control" type="text" name="licencename" ng-model="licence.name" required>
      <i class="fa fa-check"></i>
      <p class="help-block">The name of the new licence agreement</p>
    </div>
    <div class="form-group">
      <label class="form-label">Comments</label>
      <textarea class="form-control" name="licencecomments" ng-model="licence.comment" required></textarea>
      <i class="fa fa-check"></i>
      <p class="help-block"></p>
    </div>
    <hr>
    <div class="form-group" ng-repeat="field in template">
      <label class="form-label">{{field.label}}</label>
      <div class="checkbox" ng-if="field.type == 'checkbox'" ng-repeat="option in field.optionvalues">
        <label>
          <input value="{{option.value}}" ng-model="option.value" type="{{field.type}}">{{option.label}}
        </label>
      </div>
      <input ng-if="field.type != 'select' && field.type != 'checkbox'" class="form-control" type="{{field.type}}" name="{{field.name}}" value="{{field.value}}" ng-model="field.value" ng-required="field.required" ng-pattern="field.validations[0].regex">
      <select ng-if="field.type == 'select'" class="form-control" name="{{field.name}}" value="{{field.value}}" ng-model="field.value" ng-required="field.required">
        <option value="{{option.value}}" ng-repeat="option in field.optionvalues">{{option.label}}</option>
      </select>
      <i class="fa fa-check"></i>
      <p class="help-block">{{field.purpose}}</p>
      <p class="help-block">{{field.validations[0].regex}}</p>
    </div>
    <div class="form-group" class="col-md-6">
      <button type="submit" class="btn btn-default" ng-disabled="newLicence.$invalid">Submit</button>
    </div>
  </form>
</section>
