<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!--<img src="http://dummyimage.com/120x85&text=Logo" alt="" class="pull-left" />-->
      <img src="http://www.newcastle.gov.uk/sites/all/themes/ob/img/bg-logo.png" width="181" height="46" />
      <h1 class="title">Data Publishing<br>Portal<i class="fa fa-cloud-upload"></i></h1>
    </div>
    <div class="col-md-6">
      <ul class="list-inline navigation pull-right">
        <li>
          <a class="navigation-item h4" ui-sref-active="active" ui-sref="licences">
            <i class="fa fa-bookmark"></i>
            <span>My Agreements</span>
          </a>
        </li>
        <li>
          <a class="navigation-item h4" ui-sref-active="active" ui-sref="create.templates">
            <i class="fa fa-rocket"></i>
            <span>New Agreements</span>
          </a>
        </li>
        <li>
          <a class="navigation-item h4" ui-sref-active="active" ng-click="logout()">
            <i class="fa fa-sign-out"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

