<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1 class="title">Publishing Portal</h1>
    </div>
    <div class="col-md-10">
      <ul class="list-inline navigation pull-right">
        <li>
          <a class="navigation-item h4" ui-sref="home">
            <i class="fa fa-bookmark"></i>
            <span>My Licences</span>
          </a>
        </li>
        <li>
          <a class="navigation-item h4" ui-sref="licences">
            <i class="fa fa-rocket"></i>
            <span>New Licence</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>

