<ul class="user-list list-unstyled">
  <li>

    <div class="row">
      <div class="col-md-1">
        <i class="fa fa-user"></i>
      </div>
      <div class="col-md-4">

        <form action="">
          <div class="form-group">
            <label for="displayName">Name:</label><br />
            <input id="displayName" class="form-control" type="text" value="{{user.displayName}}"/>
          </div>

          <div class="form-group">
            <label for="email">Email:</label><br />
            <input id="email" class="form-control" type="text" value="{{user.email}}"/>
          </div>

          <div class="form-group">
            <label for="role">Role:</label><br />
            <input id="role" class="form-control" type="text" value="{{user.role}}"/>
          </div>
        </form>

      </div>
    </div>
  </li>
</ul>
