<style>
  .content .container {
    width: 100%;
  }
</style>

<p ng-show="searchString != ''"><a ui-sref="listings()"><< Back to search</a></p>
<h2>{{currentListing.name}}</h2>
<p ng-if="currentListing.dateUpdate">Last Updated: {{currentListing.dateUpdate | date : 'd MMMM yyyy'}}</p>
<p ng-if="currentListing.dateUpdated">Last Updated: {{currentListing.dateUpdated | date : 'd MMMM yyyy'}}</p>
<p ng-if="currentListing.owner">Owned by {{currentListing.owner}} </p>
<p ng-if="currentListing.description">{{currentListing.description}}</p>
<tree>
</tree>
<div id="infopanel">
  <form action="" ng-submit="submitFields($event)">
    <div class="form-group" ng-repeat="field in fields">
      <label ng-if="field.formFieldType !== 'hidden'" for="">{{field.label}} {{field.isArray ? '(e.g item1,item2,item3)' : ''}}</label>
      <input type="hidden" class="form-control" ng-if="field.formFieldType === 'hidden'" ng-model="field.value" />
      <input type="text" class="form-control" ng-if="field.formFieldType === 'nglist'" ng-attr-ng-list="{{field.isArray}}" ng-model="field.value" />
      <textarea ng-if="field.formFieldType === 'textarea'" class="form-control" name="" id="" cols="30" ng-model="field.value"></textarea>

    </div>
    <input ng-if="fields.length > 0" type="submit" value="Save"/>
  </form>
</div>
