<style>
  .content .container {
    width: 100%;
  }
</style>

<p ng-show="searchString != ''"><a ui-sref="listings()"><< Back to search</a></p>
<h2>{{currentListing.name}}</h2>
<div class="">
  <ol class="breadcrumb">
    <li ng-repeat="item in breadcrumbs" ng-class="{active: $last}">
      <a ng-if="!$last" ui-sref="listing({listingId: item.metadataId, metadataPath: item.metadataPath})">{{item.name}}</a>
      <span ng-if="$last" class="active">{{item.name}}</span>
    </li>
  </ol>
</div>
<p ng-if="currentListing.dateUpdate">Last Updated: {{currentListing.dateUpdate | date : 'd MMMM yyyy'}}</p>
<p ng-if="currentListing.dateUpdated">Last Updated: {{currentListing.dateUpdated | date : 'd MMMM yyyy'}}</p>
<p ng-if="currentListing.owner">Owned by {{currentListing.owner}} </p>
<p ng-if="currentListing.description">{{currentListing.summary}}</p>

<tree>
</tree>
<div id="infopanel">
  <form action="" ng-submit="submitFields($event)">
    <div class="form-group" ng-repeat="field in fields" ng-show="field.formFieldType !== 'hidden' && (field.formFieldType === 'nglist' && field.value.length > 0 || field.formFieldType === 'textarea' && field.value && field.value !== '')">
      <h4>{{field.label}}</h4>
      <!--<<input type="hidden" class="form-control" ng-if="field.formFieldType === 'hidden'" ng-model="field.value" />
      <input type="text" class="form-control" ng-if="field.formFieldType === 'nglist'" ng-attr-ng-list="{{field.isArray}}" ng-model="field.value" />
      <textarea ng-if="field.formFieldType === 'textarea'" class="form-control" name="" cols="30" ng-model="field.value"></textarea>-->

      <input type="hidden" class="form-control" ng-if="field.formFieldType === 'hidden'" ng-model="field.value" />
      <p class="form-control" ng-if="field.formFieldType === 'nglist' && field.value.length > 0">
        <span ng-repeat="item in field.value">{{item}}</span>
      </p>
      <p ng-if="field.formFieldType === 'textarea' && field.value && field.value !== ''">{{field.value}}</p>

    </div>
  </form>
</div>
