<div class="col-m-12">
    <div class="input-group input-group-lg">
        <input type="text" ng-value="searchString" autofocus ng-model="searchString" class="form-control">
      <span class="input-group-btn">
        <a ui-sref="listings({query: searchString})" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
      </span>
    </div>
</div>
<ul class="list-unstyled" ng-hide="searchString === ''">

    <li ng-repeat="listing in listings | filter : searchString">
        <a ui-sref="listing({listingId: listing.id})">
            <h2>{{listing.name}}</h2>
            <p>{{listing.date | date : 'd MMMM yyyy'}}</p>
            <p>Authored by {{listing.author}} </p>
            <p>{{listing.description}}</p>
        </a>
    </li>
</ul>
