<div class="col-m-12">
    <div class="input-group input-group-lg">
        <input type="text" ng-value="searchString" autofocus ng-model="searchString" class="form-control">
      <span class="input-group-btn">
        <a ui-sref="listings({query: searchString})" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
      </span>
    </div>
</div>
<ul class="list-unstyled">

    <li ng-repeat="listing in listings | filterListings : searchString">
        <a ui-sref="listing({listingId: listing.metadataId, metadataPath: listing.metadataPath})">
          <!--<a href="/#/listings/{{listing.id}}">-->
            <h2>{{listing.name}}</h2>
            <p>Last Updated: {{listing.dateUpdated | date : 'd MMMM yyyy'}}</p>
            <p>Owned by {{listing.owner}} </p>
            <p>{{listing.description}}</p>
        </a>
    </li>
</ul>
