.licences .licence-summary,
.templates .template-summary{
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.licences .licence-summary:hover,
.templates .template-summary:hover{
  color: #a80000;
  cursor: pointer;
}

.licence-wizard li.active {
  color: #a80000;
}

.licence .btn-group {
  margin-bottom: 30px;
}

.licence dd {
  margin-bottom: 10px;
}

.licence textarea,
.new-licence textarea {
  resize: none;
  overflow: scroll;
  height: 200px;
}

.new-licence .form-group {
  position: relative;
}

.new-licence .form-group .form-control{
  padding: 6px 25px;
}

.new-licence .form-group .fa-check {
  position: absolute;
  color: #00b200;
  left: -15px;
  top: 35px;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.new-licence .form-group input.ng-valid.ng-touched + .fa-check {
  left: 5px;
  opacity: 1;
}

.popover {
  max-width: 600px !important;
}

.popover dd {
  overflow-wrap: break-word;
}

.popover .tab-content {
  padding-top: 10px;
}
